/*
 * ReloadlySdkLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.reloadly.auth.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.reloadly.auth.ApiHelper;
import com.reloadly.auth.AuthManager;
import com.reloadly.auth.Configuration;
import com.reloadly.auth.Server;
import com.reloadly.auth.exceptions.ApiException;
import com.reloadly.auth.http.Headers;
import com.reloadly.auth.http.client.HttpClient;
import com.reloadly.auth.http.client.HttpContext;
import com.reloadly.auth.http.request.HttpRequest;
import com.reloadly.auth.http.response.HttpResponse;
import com.reloadly.auth.http.response.HttpStringResponse;
import com.reloadly.auth.models.DynamicResponse;
import java.io.IOException;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AirtimeFXRatesController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public AirtimeFXRatesController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }


    /**
     * @param  accept  Required parameter: Example: application/com.reloadly.topups-v1+json
     * @param  authorization  Required parameter: Example:
     * @param  body  Required parameter: Payload description
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyAirtimeFxRates(
            final String accept,
            final String authorization,
            final Object body) throws ApiException, IOException {
        HttpRequest request = buildReloadlyAirtimeFxRatesRequest(accept, authorization, body);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyAirtimeFxRatesResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example: application/com.reloadly.topups-v1+json
     * @param  authorization  Required parameter: Example:
     * @param  body  Required parameter: Payload description
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyAirtimeFxRatesAsync(
            final String accept,
            final String authorization,
            final Object body) {
        return makeHttpCallAsync(() -> buildReloadlyAirtimeFxRatesRequest(accept, authorization,
                body),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyAirtimeFxRatesResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyAirtimeFxRates.
     */
    private HttpRequest buildReloadlyAirtimeFxRatesRequest(
            final String accept,
            final String authorization,
            final Object body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.AIRTIME);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/operators/fx-rate");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        return request;
    }

    /**
     * Processes the response for reloadlyAirtimeFxRates.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyAirtimeFxRatesResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException("Not Found", context);
        }
        if (responseCode == 500) {
            throw new ApiException(
                    "Fx rate is currently not available for this operator, please try again later or contact support.",
                    context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

}