/*
 * ReloadlySdkLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.reloadly.auth.controllers;

import com.reloadly.auth.ApiHelper;
import com.reloadly.auth.AuthManager;
import com.reloadly.auth.Configuration;
import com.reloadly.auth.Server;
import com.reloadly.auth.exceptions.ApiException;
import com.reloadly.auth.http.Headers;
import com.reloadly.auth.http.client.HttpClient;
import com.reloadly.auth.http.client.HttpContext;
import com.reloadly.auth.http.request.HttpRequest;
import com.reloadly.auth.http.response.HttpResponse;
import com.reloadly.auth.http.response.HttpStringResponse;
import com.reloadly.auth.models.DynamicResponse;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AirtimeCommissionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public AirtimeCommissionsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }


    /**
     * @param  accept  Required parameter: Example: application/com.reloadly.topups-v1+json
     * @param  authorization  Required parameter: Example:
     * @param  size  Optional parameter: This indicates the number of operators offering discounts
     *         to be retrieved on a page. Default value is 200.
     * @param  page  Optional parameter: This indicates the page of the discounts list being
     *         retrieved. Default value is 1.
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyAirtimeCommissions(
            final String accept,
            final String authorization,
            final Integer size,
            final Integer page) throws ApiException, IOException {
        HttpRequest request = buildReloadlyAirtimeCommissionsRequest(accept, authorization, size,
                page);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyAirtimeCommissionsResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example: application/com.reloadly.topups-v1+json
     * @param  authorization  Required parameter: Example:
     * @param  size  Optional parameter: This indicates the number of operators offering discounts
     *         to be retrieved on a page. Default value is 200.
     * @param  page  Optional parameter: This indicates the page of the discounts list being
     *         retrieved. Default value is 1.
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyAirtimeCommissionsAsync(
            final String accept,
            final String authorization,
            final Integer size,
            final Integer page) {
        return makeHttpCallAsync(() -> buildReloadlyAirtimeCommissionsRequest(accept, authorization,
                size, page),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyAirtimeCommissionsResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyAirtimeCommissions.
     */
    private HttpRequest buildReloadlyAirtimeCommissionsRequest(
            final String accept,
            final String authorization,
            final Integer size,
            final Integer page) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.AIRTIME);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/operators/commissions");

        //load all query parameters
        Map<String, Object> queryParameters = new HashMap<>();
        queryParameters.put("size", size);
        queryParameters.put("page", page);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, queryParameters,
                null);

        return request;
    }

    /**
     * Processes the response for reloadlyAirtimeCommissions.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyAirtimeCommissionsResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException("Not Found", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  operatorid  Required parameter: Example:
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyAirtimeCommissionById(
            final String accept,
            final String authorization,
            final String operatorid) throws ApiException, IOException {
        HttpRequest request = buildReloadlyAirtimeCommissionByIdRequest(accept, authorization,
                operatorid);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyAirtimeCommissionByIdResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  operatorid  Required parameter: Example:
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyAirtimeCommissionByIdAsync(
            final String accept,
            final String authorization,
            final String operatorid) {
        return makeHttpCallAsync(() -> buildReloadlyAirtimeCommissionByIdRequest(accept,
                authorization, operatorid),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyAirtimeCommissionByIdResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyAirtimeCommissionById.
     */
    private HttpRequest buildReloadlyAirtimeCommissionByIdRequest(
            final String accept,
            final String authorization,
            final String operatorid) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.AIRTIME);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/operators/{operatorid}/commissions");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("operatorid",
                new SimpleEntry<Object, Boolean>(operatorid, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        return request;
    }

    /**
     * Processes the response for reloadlyAirtimeCommissionById.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyAirtimeCommissionByIdResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException("Operator not found for given ID", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

}