/*
 * ReloadlySdkLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.reloadly.auth.controllers;

import com.reloadly.auth.ApiHelper;
import com.reloadly.auth.AuthManager;
import com.reloadly.auth.Configuration;
import com.reloadly.auth.Server;
import com.reloadly.auth.exceptions.ApiException;
import com.reloadly.auth.http.Headers;
import com.reloadly.auth.http.client.HttpClient;
import com.reloadly.auth.http.client.HttpContext;
import com.reloadly.auth.http.request.HttpRequest;
import com.reloadly.auth.http.response.HttpResponse;
import com.reloadly.auth.http.response.HttpStringResponse;
import com.reloadly.auth.models.DynamicResponse;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

/**
 * This class lists all the endpoints of the groups.
 */
public final class GiftCardsRedeemInstructionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public GiftCardsRedeemInstructionsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }


    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyGiftCardsRedeemInstructions(
            final String accept,
            final String authorization) throws ApiException, IOException {
        HttpRequest request = buildReloadlyGiftCardsRedeemInstructionsRequest(accept,
                authorization);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyGiftCardsRedeemInstructionsResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyGiftCardsRedeemInstructionsAsync(
            final String accept,
            final String authorization) {
        return makeHttpCallAsync(() -> buildReloadlyGiftCardsRedeemInstructionsRequest(accept,
                authorization),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyGiftCardsRedeemInstructionsResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyGiftCardsRedeemInstructions.
     */
    private HttpRequest buildReloadlyGiftCardsRedeemInstructionsRequest(
            final String accept,
            final String authorization) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.GIFT_CARDS);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/redeem-instructions");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        return request;
    }

    /**
     * Processes the response for reloadlyGiftCardsRedeemInstructions.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyGiftCardsRedeemInstructionsResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException("Not Found", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  brandid  Required parameter: The gift card brand's identification number.
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyGiftCardsRedeemInstructionsByBrandId(
            final String accept,
            final String authorization,
            final String brandid) throws ApiException, IOException {
        HttpRequest request = buildReloadlyGiftCardsRedeemInstructionsByBrandIdRequest(accept,
                authorization, brandid);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyGiftCardsRedeemInstructionsByBrandIdResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  brandid  Required parameter: The gift card brand's identification number.
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyGiftCardsRedeemInstructionsByBrandIdAsync(
            final String accept,
            final String authorization,
            final String brandid) {
        return makeHttpCallAsync(() -> buildReloadlyGiftCardsRedeemInstructionsByBrandIdRequest(
                accept, authorization, brandid),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyGiftCardsRedeemInstructionsByBrandIdResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyGiftCardsRedeemInstructionsByBrandId.
     */
    private HttpRequest buildReloadlyGiftCardsRedeemInstructionsByBrandIdRequest(
            final String accept,
            final String authorization,
            final String brandid) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.GIFT_CARDS);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/redeem-instructions/{brandid}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("brandid",
                new SimpleEntry<Object, Boolean>(brandid, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        return request;
    }

    /**
     * Processes the response for reloadlyGiftCardsRedeemInstructionsByBrandId.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyGiftCardsRedeemInstructionsByBrandIdResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException("Not Found", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

}