/*
 * ReloadlySdkLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.reloadly.auth.controllers;

import com.reloadly.auth.ApiHelper;
import com.reloadly.auth.AuthManager;
import com.reloadly.auth.Configuration;
import com.reloadly.auth.Server;
import com.reloadly.auth.exceptions.ApiException;
import com.reloadly.auth.http.Headers;
import com.reloadly.auth.http.client.HttpClient;
import com.reloadly.auth.http.client.HttpContext;
import com.reloadly.auth.http.request.HttpRequest;
import com.reloadly.auth.http.response.HttpResponse;
import com.reloadly.auth.http.response.HttpStringResponse;
import com.reloadly.auth.models.DynamicResponse;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

/**
 * This class lists all the endpoints of the groups.
 */
public final class GiftCardsTransactionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public GiftCardsTransactionsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }


    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  size  Optional parameter: This indicates the number of transactions to be retrieved
     *         on a page.
     * @param  page  Optional parameter: This indicates the page of the transactions list being
     *         retrieved.
     * @param  startDate  Optional parameter: Indicates the start date for the range of transactions
     *         to be retrieved.
     * @param  endDate  Optional parameter: Indicates the end date for the range of transactions to
     *         be retrieved.
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyGiftCardsTransactions(
            final String accept,
            final String authorization,
            final String size,
            final String page,
            final String startDate,
            final String endDate) throws ApiException, IOException {
        HttpRequest request = buildReloadlyGiftCardsTransactionsRequest(accept, authorization, size,
                page, startDate, endDate);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyGiftCardsTransactionsResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  size  Optional parameter: This indicates the number of transactions to be retrieved
     *         on a page.
     * @param  page  Optional parameter: This indicates the page of the transactions list being
     *         retrieved.
     * @param  startDate  Optional parameter: Indicates the start date for the range of transactions
     *         to be retrieved.
     * @param  endDate  Optional parameter: Indicates the end date for the range of transactions to
     *         be retrieved.
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyGiftCardsTransactionsAsync(
            final String accept,
            final String authorization,
            final String size,
            final String page,
            final String startDate,
            final String endDate) {
        return makeHttpCallAsync(() -> buildReloadlyGiftCardsTransactionsRequest(accept,
                authorization, size, page, startDate, endDate),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyGiftCardsTransactionsResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyGiftCardsTransactions.
     */
    private HttpRequest buildReloadlyGiftCardsTransactionsRequest(
            final String accept,
            final String authorization,
            final String size,
            final String page,
            final String startDate,
            final String endDate) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.GIFT_CARDS);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/reports/transactions");

        //load all query parameters
        Map<String, Object> queryParameters = new HashMap<>();
        queryParameters.put("size", size);
        queryParameters.put("page", page);
        queryParameters.put("startDate", startDate);
        queryParameters.put("endDate", endDate);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, queryParameters,
                null);

        return request;
    }

    /**
     * Processes the response for reloadlyGiftCardsTransactions.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyGiftCardsTransactionsResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException("Full authentication is required to access this resource",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException(
                    "Could not retrieve/update resources at the moment, please try again later",
                    context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  transactionid  Required parameter: Indicates the identification number of the
     *         transaction to be retrieved.
     * @return    Returns the DynamicResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DynamicResponse reloadlyGiftCardsTransactionById(
            final String accept,
            final String authorization,
            final String transactionid) throws ApiException, IOException {
        HttpRequest request = buildReloadlyGiftCardsTransactionByIdRequest(accept, authorization,
                transactionid);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleReloadlyGiftCardsTransactionByIdResponse(context);
    }

    /**
     * @param  accept  Required parameter: Example:
     * @param  authorization  Required parameter: Example:
     * @param  transactionid  Required parameter: Indicates the identification number of the
     *         transaction to be retrieved.
     * @return    Returns the DynamicResponse response from the API call
     */
    public CompletableFuture<DynamicResponse> reloadlyGiftCardsTransactionByIdAsync(
            final String accept,
            final String authorization,
            final String transactionid) {
        return makeHttpCallAsync(() -> buildReloadlyGiftCardsTransactionByIdRequest(accept,
                authorization, transactionid),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleReloadlyGiftCardsTransactionByIdResponse(context));
    }

    /**
     * Builds the HttpRequest object for reloadlyGiftCardsTransactionById.
     */
    private HttpRequest buildReloadlyGiftCardsTransactionByIdRequest(
            final String accept,
            final String authorization,
            final String transactionid) {
        //the base uri for api requests
        String baseUri = config.getBaseUri(Server.GIFT_CARDS);

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/reports/transactions/{transactionid}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("transactionid",
                new SimpleEntry<Object, Boolean>(transactionid, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Accept", accept);
        headers.add("Authorization", authorization);
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        return request;
    }

    /**
     * Processes the response for reloadlyGiftCardsTransactionById.
     * @return An object of type DynamicResponse
     */
    private DynamicResponse handleReloadlyGiftCardsTransactionByIdResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new ApiException(
                    "Indicates the identification number of the transaction to be retrieved.",
                    context);
        }
        if (responseCode == 404) {
            throw new ApiException(
                    "Could not retrieve/update resources at the moment, please try again later",
                    context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        DynamicResponse result = new DynamicResponse(response);

        return result;
    }

}